* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
  }
  
  img {
    max-width: 100%;
  }

  p {
    font-family: sans-serif;
    font-size: 1rem;;
    font-weight: lighter;
  }
  
  li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  ul.top-nav {
    padding-right: 40px;
  }
  
  h3 {
    font-weight: 300;
  }
  
  p {
    font-weight: 200;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: orangered;
  }
  

  
  .nav {
    border: 1px solid white;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
 h3 {
   margin-top: 0px;
 }
  
  footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 90px;
    border-top: 1px solid rgb(231, 230, 230);
    width: 100%;
  }
  

  h3, span {
      font-weight: bold;
  }


  .details {
    font-weight: bolder;
  }



  .bottom-nav {
    display: none;
  }

  @media screen and (min-width:768px) {

    ul {
      display: flex;
      margin: auto;
      width: 300px;
    }

    .container {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 30px;
    
    }
    .main {
      display: flex;
     
    }


   .bottom-nav {
     display: flex;
   }

   .top {
     display: none;
   }

   .contact-details {
     max-width: 100%;
     margin: auto;
   }

  }