* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", sans-serif;
    

  }
  
  img {
    max-width: 100%;
  }

  p {
    font-family: sans-serif;
    font-size: 1.2rem;;
    text-align: center;
    font-weight: 200;
  }
  
  li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  ul.top-nav {
    padding-right: 40px;
  }
  
  h3 {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  h3.name {
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 0px;
  }
 
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: blue;
  }

  .name {
    font-size:0.5rem; 

  }
  #contact {
    margin-top: 80px;
  }
  
  .nav {
    
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    font-weight: bold;
  }

  


  .details {
    word-spacing: 40px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 50px;
    border-top: 2px solid rgb(100, 98, 98);
    width: 100%;

  }

 .bottom-nav {
    display: none;
  }


  /* MEDIA QUERY FOR TAB */
  @media screen and (min-width:768px) {

    ul {
      display: flex;
      margin: auto;
      width: 300px;
    }

    .container {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 30px;
    
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  .box1 {
    width: 45%;
  }
  
  .box2 {
    width: 45%;
  }
  .box3 {
    width: 45%;
  }
  .box4 {
    width: 45%;
  }
  .box5 {
    width: 45%;
  }
  .box6 {
    width: 45%;
  }
 
   .bottom-nav {
     display: flex;
     margin: 0;
   }

   .top {
     display: none;
   }


   #contact {
     margin-top: 60px;
     margin-bottom: 80px;
   }
   .contact-details {
     max-width: 100%;
     margin: auto;
   }

  }


  /* MEDIA QUERY FOR DESKTOP */

  @media screen and  (min-width: 1024px) {
          
    .main-container  {
      display: flex;
      justify-content: space-between ;
      
    }
  

  
   .box1 {
     width: 32%;
   }

  .box2 {
    width: 32%;
  }

  .box3 {
  width: 32%;
}

  .box4 {
  width: 32%;


}

  .box5 {

  width: 32%;
}

  .box6 {
    width: 32%;
  }

  .top-nav {
    display: flex;
    margin: 0;
  }
}

  